.main {
  display: flex;
  position: absolute;
  height: 5000px;
  width: 1340px;
  background: #f4f5f7;
}

.header_section {
  position: absolute;
  width: 1340px;
  height: 900px;
  left: 0;
  top: 1px;
  background: #fff;
  border-bottom-left-radius: 70px 60px;
}

.logo {
  display: flex;
  position: absolute;
  left: 143px;
  top: 10px;
  width: 100px;
  height: 20px;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 20px;
  color: #6070ff;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px, 12px, 10px, 12px;
  position: absolute;
  gap: 12px;
  width: 86px;
  height: 40px;
  top: 5px;
  left: 1000px;
}

ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  width: 62px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  color: #344563;
  text-decoration: none;
  padding: 10px;
}

.desktop-Header_bg {
  background-image: url(Images/Headerbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 1300.4px;
  height: 721.46px;
  left: 15.6px;
  top: 119px;
}

.banner_txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  position: absolute;
  width: 920px;
  height: 268px;
  left: 260px;
  top: 289px;
}

.banner_header {
  width: 920px;
  height: 122px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  display: flex;
  align-items: center;
  letter-spacing: 0.37px;
  color: #091e42;
}

.banner_pragrph {
  position: absolute;
  width: 920px;
  height: 98px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  top: 120px;
}

.Social_txt {
  position: absolute;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  top: 220px;
}

.social_Media {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 0;
  top: 250px;
}

.card-works-one {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 1000px;
  height: 496px;
  top: 1000px;
  left: 150px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.Portfolio {
  position: absolute;
  width: 500px;
  height: 448px;
  left: 23px;
  top: 23px;
  border-radius: 8px;
}

.Project_Title {
  top: 8px;
  left: 550px;
  width: 496px;
  height: 46px;
  position: absolute;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  color: #091e42;
}

.CANOPY {
  top: 70px;
  left: 555px;
  width: 75px;
  height: 24px;
  position: absolute;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #344563;
}

.Counter_one {
  position: absolute;
  top: 85px;
  left: 630px;
  width: 8px;
  height: 8px;
}

.Back_text {
  top: 62px;
  left: 650px;
  width: 120px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
}

.Counter_two {
  position: absolute;
  top: 85px;
  left: 760px;
  width: 8px;
  height: 8px;
}

.date {
  position: absolute;
  top: 57px;
  left: 780px;
  width: 38px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
}

.Primary-Text {
  position: absolute;
  width: 420px;
  height: 76px;
  left: 550px;
  top: 110px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: absolute;
  width: 50px;
  height: 20px;
  left: 550px;
  top: 210px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.rubby_rail {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: absolute;
  width: 100px;
  height: 20px;
  left: 820px;
  top: 210px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: absolute;
  width: 30px;
  height: 20px;
  left: 645px;
  top: 210px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.jvscrp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: absolute;
  width: 75px;
  height: 20px;
  left: 710px;
  top: 210px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.btn {
  position: relative;
  width: 100px;
  height: 40px;
  left: 115px;
  top: 8px;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  color: #6070ff;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.card-works-two {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 1000px;
  top: 1570px;
  left: 150px;
  height: 496px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.Portfolio_two {
  position: absolute;
  width: 500px;
  height: 448px;
  right: 23px;
  top: 23px;
  border-radius: 8px;
}

.Project_Title_two {
  top: 8px;
  left: 23px;
  width: 496px;
  height: 46px;
  position: absolute;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  color: #091e42;
}

.facbook_txt {
  top: 70px;
  left: 30px;
  width: 75px;
  height: 24px;
  position: absolute;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #344563;
}

.Count_two {
  position: absolute;
  top: 85px;
  left: 115px;
  width: 8px;
  height: 8px;
}

.Devlop_txt {
  top: 62px;
  left: 140px;
  width: 120px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
}

.Counter_t_two {
  position: absolute;
  top: 85px;
  left: 260px;
  width: 8px;
  height: 8px;
}

.date_two {
  position: absolute;
  top: 57px;
  left: 280px;
  width: 38px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
}

.Primary-Text_two {
  position: absolute;
  width: 420px;
  height: 76px;
  right: 550px;
  top: 110px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.htm {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: absolute;
  width: 50px;
  height: 20px;
  left: 23px;
  top: 210px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.rubby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: absolute;
  width: 100px;
  height: 20px;
  left: 110px;
  top: 210px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.cs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: absolute;
  width: 30px;
  height: 20px;
  left: 250px;
  top: 210px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.jvscr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: absolute;
  width: 75px;
  height: 20px;
  left: 315px;
  top: 210px;
  font-family: "Poppins", sans-serif, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
}

.secon_btn {
  position: absolute;
  width: 100px;
  height: 40px;
  left: 24px;
  top: 260px;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  background-color: white;
  box-sizing: border-box;
  border-radius: 8px;
  color: #6070ff;
}

.secon_btn:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

@media screen and (max-width: 750px) {
  .card-works-two {
    position: absolute;
    width: 350px;
    height: 552px;
    top: 1600px;
    left: 20px;
  }

  .Portfolio_two {
    position: relative;
    width: 300px;
    height: 200px;
    left: 0;
    top: -120px;
  }

  .Project_Title_two {
    position: absolute;
    width: 295px;
    height: 36px;
    left: 20px;
    top: 200px;
  }

  .facbook_txt {
    top: 265px;
    left: 20px;
    width: 55px;
    height: 16px;
    position: absolute;
  }

  .Count_two {
    top: 283px;
    left: 93px;
    width: 100px;
    height: 24px;
    position: absolute;
  }

  .Devlop_txt {
    position: absolute;
    top: 258px;
    left: 110px;
    width: 120px;
    height: 24px;
  }

  .Counter_t_two {
    top: 283px;
    left: 225px;
    width: 100px;
    height: 24px;
    position: absolute;
  }

  .date_two {
    position: absolute;
    top: 253px;
    left: 250px;
    width: 120px;
    height: 24px;
  }

  .Primary-Text_two {
    position: absolute;
    width: 320px;
    height: 76px;
    left: 20px;
    top: 295px;
  }

  .htm {
    position: absolute;
    width: 25px;
    height: 20px;
    left: 15px;
    top: 400px;
  }

  .rubby {
    position: absolute;
    width: 88px;
    height: 20px;
    left: 70px;
    top: 400px;
  }

  .cs {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 190px;
    top: 400px;
  }

  .jvscr {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 250px;
    top: 400px;
  }

  .secon_btn {
    position: relative;
    width: 150px;
    height: 55px;
    left: 0;
    top: 100px;
  }
}

.card-works-three {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 1000px;
  top: 2150px;
  left: 150px;
  height: 496px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

.card-works-four {
  display: grid;
  align-content: center;
  justify-content: center;
  padding: 16px;
  position: absolute;
  width: 1000px;
  top: 2750px;
  left: 150px;
  height: 496px;
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
}

@media screen and (max-width: 750px) {
  .card-works-one {
    position: absolute;
    width: 350px;
    height: 552px;
    top: 970px;
    left: 20px;
  }

  .Portfolio {
    position: relative;
    width: 300px;
    height: 200px;
    left: 0;
    top: -120px;
  }

  .Project_Title {
    position: absolute;
    width: 295px;
    height: 36px;
    left: 20px;
    top: 200px;
  }

  .CANOPY {
    top: 265px;
    left: 20px;
    width: 55px;
    height: 16px;
    position: absolute;
  }

  .Counter_one {
    top: 283px;
    left: 88px;
    width: 100px;
    height: 24px;
    position: absolute;
  }

  .Back_text {
    position: absolute;
    top: 258px;
    left: 110px;
    width: 120px;
    height: 24px;
  }

  .Counter_two {
    top: 283px;
    left: 225px;
    width: 100px;
    height: 24px;
    position: absolute;
  }

  .date {
    position: absolute;
    top: 253px;
    left: 250px;
    width: 120px;
    height: 24px;
  }

  .Primary-Text {
    position: absolute;
    width: 295px;
    height: 76px;
    left: 20px;
    top: 300px;
  }

  .html {
    position: absolute;
    width: 22px;
    height: 20px;
    left: 15px;
    top: 390px;
  }

  .card-works-three .rubby_rail {
    position: absolute;
    width: 89px;
    height: 20px;
    left: 230px;
    top: 390px;
  }

  .css {
    position: absolute;
    width: 30px;
    height: 20px;
    left: 70px;
    top: 390px;
  }

  .jvscrp {
    position: absolute;
    width: 70px;
    height: 20px;
    left: 130px;
    top: 390px;
  }

  .btn {
    position: relative;
    width: 150px;
    height: 55px;
    left: 0;
    top: 100px;
  }

  .card-works-three {
    position: absolute;
    width: 350px;
    height: 552px;
    top: 2225px;
    left: 20px;
  }

  .card-works-four {
    position: absolute;
    width: 350px;
    height: 552px;
    top: 2850px;
    left: 20px;
  }
}

/* About section */
.about {
  display: grid;
  position: absolute;
  width: 1330px;
  left: 0.1rem;
  height: 750px;
  top: 3300px;
  background: #fff;
  border: 2px;
  border-top-right-radius: 90px 100px;
}

.about_txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  position: absolute;
  width: 447px;
  height: 392px;
  left: 140px;
  top: 120px;
}

.about_header {
  width: 447px;
  height: 114px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.about_pra {
  position: absolute;
  width: 447px;
  height: 102px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  top: 110px;
}

.socil_txt {
  position: absolute;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  top: 220px;
}

.soc_Media {
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
  top: 260px;
}

.btn_resum {
  position: relative;
  width: 160px;
  height: 50px;
  top: 140px;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.03em;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: white;
  color: #6070ff;
}

.btn_resum:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.Skill_List {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  position: absolute;
  width: 684px;
  height: 360px;
  left: 614px;
  top: 120px;
}

.arrow {
  background-image: url(Images/arrow.png);
  background-repeat: no-repeat;
  display: flex;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 35px;
  top: 30px;
}

.langa {
  position: absolute;
  width: 327px;
  left: 50px;
  height: 101px;
  top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.fjva {
  position: absolute;
  display: block;
  top: 35%;
  left: 76px;
  width: 100px;
  height: 100px;
  background: #f7f7f9;
  border-radius: 8px;
}

.fjva img {
  position: absolute;
  top: 10%;
  left: 25px;
}

.fjva p {
  position: absolute;
  height: 24px;
  left: 25px;
  right: 25px;
  top: 50%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #253858;
}

.fhtml {
  position: absolute;
  display: block;
  top: 35%;
  left: 210px;
  width: 100px;
  height: 100px;
  background: #f7f7f9;
  border-radius: 8px;
}

.fhtml img {
  position: absolute;
  top: 10%;
  left: 25px;
}

.fhtml p {
  position: absolute;
  height: 24px;
  left: 30px;
  right: 25px;
  top: 50%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #253858;
}

.fcss img {
  position: absolute;
  top: 10%;
  left: 25px;
}

.fcss {
  position: absolute;
  display: block;
  top: 35%;
  left: 350px;
  width: 100px;
  height: 100px;
  background: #f7f7f9;
  border-radius: 8px;
}

.fcss p {
  position: absolute;
  height: 24px;
  left: 35px;
  top: 50%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #253858;
}

.arrow_one {
  background-image: url(Images/arrows.png);
  background-repeat: no-repeat;
  display: flex;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 35px;
  top: 70%;
  border-radius: 8px;
}

.Frame {
  position: absolute;
  height: 24px;
  left: 65px;
  right: 78px;
  top: 70%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.line_one {
  position: absolute;
  width: 327px;
  height: 1px;
  left: 65px;
  top: 80%;
  color: #dfe1e6;
  background: #dfe1e6;
}

.arrow_two {
  background-image: url(Images/arrows.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 35px;
  top: 85%;
  border-radius: 8px;
}

.skll {
  position: absolute;
  height: 24px;
  left: 65px;
  right: 78px;
  top: 85%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.line_two {
  position: absolute;
  width: 327px;
  height: 1px;
  left: 65px;
  right: 0;
  top: 95%;
  color: #dfe1e6;
  background: #dfe1e6;
}

/* contact */
.contact {
  display: grid;
  position: absolute;
  width: 1340px;
  height: 924px;
  top: 4050px;
  background: #6070ff;
  border: 2px;
  border-top-left-radius: 100px 90px;
}

.contact_bg {
  background-image: url(Images/contact_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 1300.4px;
  height: 721.46px;
  left: 75.34px;
  top: 100px;
}

.Contact_me {
  position: absolute;
  width: 801px;
  height: 56px;
  left: 550px;
  top: 150px;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.Contact_text {
  position: absolute;
  left: 480px;
  top: 220px;
  width: 500px;
  height: 100px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  text-align: center;
  color: #ebebff;
}

.name-box {
  position: absolute;
  width: 350px;
  height: 42px;
  left: 490px;
  top: 330px;
  border: 1px solid #cfd8dc;
  border-radius: 9px;
}

.email-box {
  position: absolute;
  width: 350px;
  height: 42px;
  left: 490px;
  top: 390px;
  border: 1px solid #cfd8dc;
  border-radius: 9px;
}

.msg_box {
  position: absolute;
  width: 350px;
  height: 170px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  left: 490px;
  top: 455px;
  border: 1px solid #cfd8dc;
  border-radius: 9px;
}

.last-btn {
  position: absolute;
  width: 140px;
  height: 50px;
  left: 600px;
  top: 645px;
  font-family: "Poppins,Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #6070ff;
  background-color: white;
  border-radius: 10px;
  color: #6070ff;
}

.last-btn:hover {
  background-color: lightslategrey;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

@media (max-width: 750px) {
  .logo {
    display: flex;
    left: 15px;
    top: 10px;
  }

  .desktop-Header_bg {
    display: none;
  }

  .Social_txt {
    top: 350px;
  }

  .social_Media {
    display: flex;
    top: 380px;
    gap: 15px;
  }

  #sideNav {
    width: 360px;
    height: 25vh;
    display: flex;
    position: absolute;
    top: -700px;
    left: -5px;
    background: #6070ff;
    transition: 0.3s;
    z-index: 2;
    border-radius: 16px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    height: 160px;
    width: 300px;
    left: 10px;
    top: -10px;
  }

  nav ul li a {
    position: relative;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 40px 20px;
  }

  #menuBtn {
    position: absolute;
    left: 75.67%;
    top: 27px;
    bottom: 50%;
    text-align: center;
    border-radius: 5px;
    z-index: 3;
    cursor: pointer;
  }

  #menuBtn img {
    width: 26px;
    height: 26px;
  }

  .banner_txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px 24px;
    gap: 10px;
    top: 100px;
    z-index: 1;
    left: -5px;
  }

  .banner_header {
    display: flex;
    margin-top: -50px;
    left: 24px;
    width: 327px;
    height: 150px;
    font-family: "Crete Round", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.37px;
  }

  .banner_pragrph {
    display: flex;
    margin-top: 110px;
    width: 327px;
    height: 146px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .mobile-Header_bg {
    background-image: url(Images/header-shapes\ mobile@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 370px;
    height: 600px;
    left: -10px;
    z-index: 1;
    top: 100px;
  }
}

@media (max-width: 750px) {
  .main {
    position: absolute;
    width: 400px;
  }

  .about {
    position: absolute;
    width: 390px;
    left: 0.2rem;
    height: 1100px;
    top: 3550px;
  }

  .about_header {
    position: absolute;
    width: 350px;
    height: 392px;
    left: -120px;
    top: -230px;
  }

  .about_pra {
    position: absolute;
    width: 327px;
    height: 144px;
    left: -120px;
    top: 10px;
  }

  .socil_txt {
    position: absolute;
    width: 117px;
    height: 24px;
    left: -120px;
    top: 145px;
  }

  .soc_Media {
    position: absolute;
    left: -120px;
    top: 180px;
  }

  .btn_resum {
    left: -120px;
    top: 235px;
  }

  .Skill_List {
    display: flex;
    left: auto;
  }

  .arrow {
    position: absolute;
    top: 315px;
    left: 300px;
  }

  .langa {
    position: absolute;
    left: 30px;
    top: 280px;
  }

  .fjva {
    position: absolute;
    width: 303px;
    height: 66.72px;
    left: 20px;
    padding: 10px;
    top: 390px;
  }

  .fjva p {
    font-size: larger;
    height: 24px;
    left: 90px;
    top: 15%;
  }

  .fhtml {
    position: absolute;
    width: 303px;
    height: 66.72px;
    left: 20px;
    padding: 10px;
    top: 490px;
  }

  .fhtml p {
    position: absolute;
    height: 24px;
    left: 100px;
    top: 15%;
  }

  .fcss {
    position: absolute;
    width: 303px;
    height: 66.72px;
    left: 20px;
    padding: 10px;
    top: 590px;
  }

  .fcss p {
    position: absolute;
    height: 24px;
    left: 100px;
    right: 25px;
    top: 15%;
  }

  .arrow_one {
    position: absolute;
    left: 290px;
    top: 720px;
  }

  .Frame {
    position: absolute;
    left: 20px;
    top: 720px;
  }

  .line_one {
    position: absolute;
    left: 15px;
    top: 780px;
  }

  .arrow_two {
    position: absolute;
    left: 290px;
    top: 810px;
  }

  .skll {
    position: absolute;
    left: 20px;
    top: 810px;
  }

  .line_two {
    position: absolute;
    left: 15px;
    top: 870px;
  }
}

@media (max-width: 750px) {
  .contact {
    position: absolute;
    width: 390px;
    height: 1000px;
    top: 4750px;
    left: 0.01rem;
  }

  .contact_bg {
    display: none;
  }

  .mobile-contact_bg {
    background-image: url(Images/contact\ form\ shapes-mobile@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 265px;
    height: 850px;
    left: 125px;
    top: 50px;
  }

  .Contact_me {
    left: 90px;
  }

  .Contact_text {
    font-size: 22px;
    line-height: 35px;
    top: 220px;
    width: 320px;
    height: 150px;
    left: 50px;
  }

  .name-box {
    left: 20px;
    top: 440px;
    height: 48px;
  }

  .email-box {
    left: 20px;
    top: 520px;
    height: 48px;
  }

  .msg_box {
    left: 20px;
    top: 600px;
    height: 215px;
  }

  .last-btn {
    display: flex;
    top: 850px;
    left: 30px;
    height: 55px;
    width: 170px;
    padding: 15px 30px;
  }

  .line-shape {
    position: absolute;
    width: 250px;
    height: 5px;
    left: 20%;
    bottom: 8px;
    background: #0d151e;
    border-radius: 10px;
  }
}
